.mainBody{
    color: white;
}
.intro{
    color: white;
    margin: 20px 0px 0 150px;
    font-size: 30px;
}
.container5{
    display: flex;
    justify-content: center;
}
.contact{
    font-size: 30px;
    margin-left: 152px;
}
.li{
    font-size: 20px;
    color: aqua;
}
a{
    text-decoration: none;
}
.connect{
    font-size: 50px;
    color: white;
    margin: 30px 0px 20px 185px;
}
.ul{
    margin-left: 190px;
}
.fontSize{
    font-size: 30px;
}