@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    /* background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0.2)), url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: black;
}

/* dark mode looking scorllbar */
::-webkit-scorllbar {
    width: 8px;
}

::-webkit-scorllbar-track {
    background: #555;
}

::-webkit-scorllbar-thumb {
    background: #121212;
    border-radius: 5px;
}

::-webkit-scorllbar-thumb:hover {
    background: #242424;
}

.fontSize{
    font-size: 30px;
}
.textSize{
    font-size: 20px;
}
.margin1{
    margin-left: -32px;
}
.margin2{
    margin-left: -13px;
}
.margin3{
    margin-top: 17px;
}
.setWidth{
    width: 19vw;
}
.onHover:hover{
    background-color: #1c1c1c;
}
.selectedColor{
    background-color: #1c1c1c;
}
.margin4{
    margin-top: 300px;
    margin-left: 30px;
}